.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    z-index: 5;
}
.footer2 {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    line-height: 60px;
}
.navbar-brand-container {
    width: 100%;
    height: 100px;
    margin-right: 0;
    margin-left: 0;
    padding: 20px;
}
.navbar-nav {
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}
.img-thumbnail {
    max-width: 200px;
    max-height: 200px;
}
.btn {
    margin-bottom: 10px;
}
.content-container {
    margin: 20px;
}
img {
    margin-top: 20px;
}
.card-header {
    margin-bottom: 10px;
}


@media (min-width: 768px) {
    .navbar-brand-container {
        width: 200px;
        margin-left: 5%;
    }
    .navbar-brand {
        padding-top: 15px;
    }
    .navbar-nav {
        margin-right: 5%;
        justify-content: flex-end;
    }
    h3 {
        font-size: 1.05rem;
    }
    .content-container {
        padding: 10px;
    }
}
